{% extends 'base.html.twig' %}

{# para redefinir a nar e mostrar as infos para un usr nao logado #}
{% block nav %}{% endblock %}
{% block body %}
	<div class="container mt-5 w-75">
		<form method="post" action="{{ path('app_login') }}">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<h1 class="h3 mt-3 font-weight-normal">Please sign in</h1>

			<label for="username">Email</label>
			<input type="email" name="_username" id="username" class="form-control" autocomplete="email" required autofocus placeholder="Email">
			<label for="password" class="mt-3">Password</label>
			<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="Password">
			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="link m-2">
				<a class="btn-sm me-2 fs-" href="{{ path('app_forgot_password_request') }}">
					j'ai oublieÌ mon mot de passe
				</a>
			</div>
			<div class="checkbox mb-3">
				<input type="checkbox" name="_remember_me" id="_remember_me">
				<label for="_remember_me">Remember me</label>
			</div>

			<button class="btn btn-lg btn-primary" type="submit">
				Sign in
			</button>
		</form>
	</div>
{% endblock %}
