{% extends 'base.html.twig' %}

{% block title %}homme
{% endblock %}
{% block body %}
	{% block conteudo %}
		<div class="container mt-5">
			<h1 class="text-success mx-auto">Hello home page
			</h1>
			<hr class="border border-danger rounded-1 border-2 opacity-100 mt-1 mb-2"/>
		</div>
	{% endblock %}
{% endblock %}
