{% extends 'base.html.twig' %}

{% block title %}Edit Task
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-12 col-sm-12">
				<h1 class="text-center mb-4 text-primary">Edit Task</h1>
				<div class="card shadow p-4">
					{{ include('task/formTask.html.twig', {'button_label': 'Update'}) }}
				</div>

				<div class="mt-4 d-flex justify-content-between">
					<a href="{{ path('app_task_index') }}" class="btn btn-secondary">Back to List</a>
					{% if is_granted('ROLE_ADMIN') %}
						{{ include('task/deleteTask.html.twig') }}

					{% else %}
						{% if is_granted('ROLE_MANAGER') %}
							{{ include('task/deleteTask.html.twig') }}

						{% endif %}
					{% endif %}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
