{% extends 'base.html.twig' %}
{% block title %}New Task
{% endblock %}
{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-12 col-sm-12">
				<h1 class="text-center mb-4 text-primary">Creer une nouvelle tache</h1>

				<div class="card shadow p-4">
					{{ include("task/formTask.html.twig") }}
				</div>
				<div class="mt-4">
					<a href="{{ path('app_task_index') }}" class="btn btn-secondary">Back to List</a>
				</div>
			</div>
		</div>
	</div> 
{% endblock %}
