{{ form_start(formSearsh) }}
<div class="flex justify-center">
	<div class="mb-3 xl:w-96">
		<div class="input-group relative flex flex-wrap items-stretch w-50 mb-4">
			{{ form_widget(formSearsh.name) }}

			<button class="btn inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center" type="submit" id="button-addon2">Searsh
				<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
					<path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7.7-17-7.7h-7c44.2-48.6 71-112.5 71-181.3C512 57.3 454.7 0 384 0S256 57.3 256 128s57.3 128 128 128c68.8 0 133-26.8 181.3-71v7c0 6.4-3.2 12.5-7.7 17l-100.7 100.7c-4.5 4.5-10.6 7.7-17 7.7s-12.5-3.2-17-7.7L7 442.7c-4.5-4.5-7.7-10.6-7.7-17V7c0-6.4 3.2-12.5 7.7-17L100.7 7c4.5-4.5 10.6-7.7 17-7.7s12.5 3.2 17 7.7l100.7 100.7c4.5 4.5 7.7 10.6 7.7 17s-3.2 12.5-7.7 17L7 442.7z"></path>
				</svg>
			</button>
		</div>
	</div>
</div>
{{ form_end(formSearsh) }}
