      <h2 class="fw-bold text-primary">La totalité des Taches affectées à vous est de : {{ totalTasks }}</h2>
  <div id="div_chart">

    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
        
    </script>
</div>