<div class="container mt-2 px-3 px-md-5 pb-5">
	<div class="text-center text-md-start">
		<h2 class="fw-bold text-primary fs-5 fs-md-4 fs-lg-3">
			La totalité des Tâches affectées à vous est de :
			{{ totalTasks }}
		</h2>
	</div>
</div>


<div id="chart-wrapper" style="overflow-x: auto;">
	<div id="div_chart">
		<script type="text/javascript" class="google-charts">
			{{ gc_draw(piechart, 'div_chart') }}
        
        </script>
	</div>
</div>
