{% block stylesheet %}		
			{#  CSS local #}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-danger text-center ">Votre demande est interdite (Access Denied)</h1>
    <p class="text-center fs-5">
        La demande n'a pas pu aboutir. Cette page est accessible uniquement par les utilisateurs autorisé
    </p>
<a href="{{ path('app_home') }}" class="btn btn-primary btn-sm fs-5">
									
										Returner sur la page d'accueil
									</a>
{% endblock %}