{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}

	<div class="container mt-5 mb-5">
	<h1>Create new User</h1>

	{{ include('user/formUser.html.twig') }}

	<a href="{{ path('app_user_index') }}" class="btn btn-primary">back to list</a>
</div>{% endblock %}
