{% extends 'base.html.twig' %}

{% block title %}Edit Address{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="text-center mb-4 ">
        <h1 class="text-success">
            <i class="bi bi-house-gear text-success"></i>
            Edit Address
        </h1>
    </div>

    <div class="card shadow-sm p-4">
        <!-- Inclusão do Formulário -->
        {{ include('address/formAddress.html.twig', {'button_label': 'Save'}) }}
    </div>

    <div class="text-center mt-4">
        <!-- Botão de voltar -->
        <a href="{{ path('app_address_index') }}" class="btn btn-outline-primary btn-lg" aria-label="Retourner à la liste">
            <i class="bi bi-arrow-left-circle-fill"></i> Aller à la liste
        </a>
    </div>
</div>
{% endblock %}
