{% extends 'base.html.twig' %}

{% block title %}Edit Address
{% endblock %}

{% block body %}
	<div class="container mt-5-lg mb-5-lg mt-2  ">
		<h1>
			<i class="bi bi-house-gear"></i>
			Edit Address</h1>

		{{ include('address/formAddress.html.twig', {'button_label': 'Save'}) }}
		<div class="d-flex justify-content-between">
			<button class="btn btn-primary m-3 text-white ">
				<a class="text-white" href="{{ path('app_address_index') }}">
					<i class="bi bi-arrow-left-circle-fill"></i>
					Aller à la liste</a>
			</button>
	</div>
{% endblock %}
